* {
  margin: 0;
  box-sizing: border-box;
}

button {
  width: 200px;
  height: 70px;
}

main {
  max-width: 480px;
  height: 100vh;
  margin: 0 auto;
}

section {
  height: calc(100vh/8);
  display: flex;
  justify-content: center;
  align-items: center;
}

#computer {
    font-size: 150px;
  }

/* 1. 手の絵文字があるセクション（親要素）の基準を作ります */
section.result-container {
  position: relative; /* 自由配置の基準点にする */
}

  #result {
    font-size: 150px;
    text-align: center;
  }

   .winner-label {
    font-size: 60px;
    display: inline-block;
    animation: pulse 0.5s ease-in-out infinite alternate;
  }

#judge {
  font-size: 60px;
}


  @keyframes pulse {
    from { transform: scale(1); }
    to { transform: scale(1.3); }
  }